body {
  margin: 0;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-button {
  position: fixed;
  bottom: calc(-0.5em + 8px);
  right: calc(-0.4em + 8px);
  padding: 0;
  display: flex;
  font-size: 1.8em;
  transform: rotate(-45deg);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

.music-button.playing {
  right: calc(-0.25em + 8px);
  bottom: calc(-0.35em + 8px);
}

.content {
  position: relative;
  margin-top: 60px;
  max-width: 512px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.topic-card {
  position: relative;
  max-height: 82px;
  min-width: 216px;
  padding: 0.5rem;
  gap: 4px;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  text-align: center;
  font-weight: 600;
  background-color: var(--tg-theme-bg-color);
  border-color: var(--bs-btn-active-border-color);
}

.topic-card-body {
  padding: 0;
  color: var(--tg-theme-text-color);
  outline: none;
}

#topic-card-placeholder {
  opacity: 0.6;
}

.clear-button {
  padding: 0;
}

.img-container {
  padding-top: 60px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cat {
  width: 100%;
  user-select: none;
}

.sound-status-button {
  position: absolute;
  top: 0;
  left: 16px;
  padding: 0.5rem;
  font-size: 1.2em;
}

.counter-container {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
}

.speed-buttons {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
}
