body {
  margin: 0;
  height: var(--tg-viewport-stable-height);
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
}

.content {
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.tip {
  position: absolute;
  top: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.hidden {
  display: none;
}

.cat {
  width: 100%;
}
